@{
    List<Banner> banners = ViewBag.Banners as List<Banner>;
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="margin-top:5px">
        <div class="item active">
            <img src="@banners.FirstOrDefault().PicPath" alt="@banners.FirstOrDefault().Alt" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @banners.FirstOrDefault().PicDesc
                    <a class="btn btn-default" href="@banners.FirstOrDefault().PicUrl">
                        查看更多
                    </a>
                </p>
            </div>
        </div>
        @foreach (var item in ViewBag.Banners as List<Banner>)
        {
            <div class="item">
                <img src="@item.PicPath" alt="@item.Alt" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @item.PicDesc
                        <a class="btn btn-default" href="@item.PicUrl">
                            查看更多
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container marketing">
    <div class="row">
        <h3 class="productblock-title">Our Special Services</h3>
        <h4 class="title-subline">Join Our Beauty Clun And Be Beautiful</h4>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico01.png" alt="Generic placeholder image" width="140" height="140">
            <h2>MASSAGE SERVICES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <p><a class="btn btn-default" href="#" role="button">Read More</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico02.png" alt="Generic placeholder image" width="140" height="140">
            <h2>SPA SERVICES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <p><a class="btn btn-default" href="#" role="button">Read More</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico03.png" alt="Generic placeholder image" width="140" height="140">
            <h2>MAKE UP SERVICES</h2>
            <p>Lorem ipsum dolor sit amet, consectetur aditpisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <p><a class="btn btn-default" href="#" role="button">Read More</a></p>
        </div>
    </div>
</div>

<div id="center">
    <div class="container">
        <div class="row">
            <div class="content col-sm-12">
                <h3 class="productblock-title">Futured Products</h3>
                <h4 class="title-subline">Comfort For Every Women</h4>
                <div class="row">
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product1-1.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product2.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product2-2.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart">Add to Cart</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="less">$150.00</span><span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product3.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product3-3.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product4.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product4-4.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product5.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product5-5.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product6.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product6-6.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product7.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product7-7.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="product-thumb">
                                <div class="image product-imageblock">
                                    <a href="#"> <img src="~/images/product/product8.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> <img src="~/images/product/product8-8.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive"> </a>
                                    <ul class="button-group">
                                        <li>
                                            <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i class="fa fa-eye"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="addtocart-btn" title="Add to Cart"> Add to Cart </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="caption product-detail">
                                    <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                                    <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">Casual Shirt With Ruffle Hem</a></h4>
                                    <p class="price product-price">$122.00<span class="price-tax">Ex Tax: $100.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viewmore">
                        <div class="btn">View More All Products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="cms_banner">
    <div class="row">
        <div class="col-md-4 ">
            <div class="cms-block1">
                <h4>Free Shipping &amp; Return</h4>
                <p>All Order Over $ 338</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="cms-block3">
                <h4>Online Support 24/7</h4>
                <p>All Question All Time</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="cms-block2">
                <h4>Money Back Guarantee</h4>
                <p>100% Money back Guarantee</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>护肤方法</h2>
        <ul>
            <li>护肤品的使用顺序</li>
            <li>化妆水和爽肤水有什么区别</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>护肤品</h2>
        <ul>
            <li>最好用的爽肤水排行榜Top10</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>新品发售</h2>
        <ul>
            <li>根源补水 舒缓干燥 博研诗沁润健颜高倍保湿水</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>护肤品评测</h2>
        <ul>
            <li>醒醒吧!谁跟你说用化妆水有刺痛感是因为缺水?</li>
        </ul>
    </div>
</div>
