@using xiangcaowuyu.net.Models.Entity;
@using xiangcaowuyu.net.Public;
@{
    List<Banner> banners = ViewBag.Banners as List<Banner>;
    List<Product> products = ViewBag.Products as List<Product>;
    List<Product> randomProducts = ViewBag.RandomProducts as List<Product>;
}
@section Styles{
    <link rel="stylesheet" href="~/css/gdt-style.css" />
    <link href="~/lib/scroller/css/default.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/scroller/css/own.css" rel="stylesheet" type="text/css" />
}
@section Header{ 
<div id="toubiao" style="text-align:center;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="86%">
                <img src="/images/kids.gif" width="15" height="14" />本站庆祝开业，全场满100包邮，全场商品一律九折优惠。
                <a style="cursor:grabbing" onClick="document.getElementById('toubiao').style.display = 'none'; $.cookie('isAdClose', 'true', { expires:7 })">
                    <img src="/images/close.gif" width=84 height=11 hspace="6" border=0>
                </a>
            </td>
        </tr>
    </table>
</div>
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="margin-top:5px">
        <div class="item active">
            <img src="@banners.FirstOrDefault().PicPath" alt="@banners.FirstOrDefault().Alt" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    @banners.FirstOrDefault().PicDesc
                    <a class="btn btn-default" href="@banners.FirstOrDefault().PicUrl">
                        查看更多
                    </a>
                </p>
            </div>
        </div>
        @foreach (var item in ViewBag.Banners as List<Banner>)
        {
            <div class="item">
                <img src="@item.PicPath" alt="@item.Alt" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        @item.PicDesc
                        <a class="btn btn-default" href="@item.PicUrl">
                            查看更多
                        </a>
                    </p>
                </div>
            </div>
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container marketing">
    <div class="row">
        <h3 class="productblock-title">产 品 分 类</h3>
        <h4 class="title-subline">Join Our Beauty Clun And Be Beautiful</h4>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico01.png" alt="Generic placeholder image" width="140" height="140">
            <h2>魔法泡泡刷</h2>
            <p>深层清洁、柔和卸妆、细胞注氧个、保湿滋润、美白靓肤、紧致毛孔、镇静肌肤、舒缓敏感、抗击炎症、预防痘痘<br/></p>
            <p><a class="btn btn-default" href="/Product/ViewProduct/30443956-4b33-4b81-bc0b-695ba9e854c4" role="button">点击购买</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico02.png" alt="Generic placeholder image" width="140" height="140">
            <h2>气泡精华露</h2>
            <p>维持肌肤弱酸性PH值、塑造明亮通透肤色、平衡肌肤油脂分泌、消除皮肤干纹、滋润营养肌肤、改善肌肤质地、高效补水、强力锁水、持久湿润<br/></p>
            <p><a class="btn btn-default" href="/Product/ViewProduct/596718e2-efd0-4f6e-9146-0bc87eed0303" role="button">点击购买</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ico03.png" alt="Generic placeholder image" width="140" height="140">
            <h2>水炸弹爆水修复面膜</h2>
            <p>收缩毛孔、舒缓抗敏、抗衰去皱、淡化斑点、深层美白、改善暗沉、抽油保湿、极速补水、舒缓痘印、天然植物油精粹、隐形天丝膜布</p>
            <p><a class="btn btn-default" href="/Product/ViewProduct/80323519-0c36-4d57-8355-57acedaa1723" role="button">点击购买</a></p>
        </div>
    </div>
</div>

<div id="center">
    <div class="container">
        <div class="row">
            <div class="content col-sm-12">
                <h3 class="productblock-title">热销产品</h3>
                <h4 class="title-subline">为每一个爱美的女人</h4>
                <div class="row">
                    @foreach (Product product in products)
                    {
                        <div class="product-layout  product-grid  col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="item">
                                <div class="product-thumb">
                                    <div class="image product-imageblock">
                                        <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@product.ID" target="_blank"> <img src="~/UploadImage/@product.Picture" alt="@product.ProductName" title="@product.ProductName" class="img-responsive"> <img src="~/UploadImage/@product.MouseMovePicture" alt="@product.ProductName" title="@product.ProductName" class="img-responsive"> </a>
                                        <ul class="button-group">
                                            <li>
                                                <button type="button" class="wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="添加心愿单"><i class="fa fa-heart-o"></i></button>
                                            </li>
                                            <li>
                                                <button type="button" id="@product.WeiDianUrl" name="btnweidian" class="compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="微店购买"><i class="fa fa-exchange"></i></button>
                                            </li>
                                            <li>
                                                <button id="@product.TaoBaoUrl" name="btntaobao" type="button" class="quick-view" data-toggle="tooltip" data-placement="top" title="" data-original-title="淘宝购买"><i class="fa fa-eye"></i></button>
                                            </li>
                                            <li>
                                                <a asp-controller="Product" asp-action="ViewProduct" asp-route-id="@product.ID" target="_blank" class="addtocart-btn" title="查看详情"> 点击查看详情 </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="caption product-detail">
                                        <div class="rating">
                                            @for (int i = 0; i < product.HotLevel; i++)
                                            {
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i><i class="fa fa-star fa-stack-2x"></i></span>
                                            }
                                            @for (int i = 0; i < 5 - product.HotLevel; i++)
                                            {
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                            }

                                        </div>
                                        <h4 class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">@product.ProductName</a></h4>
                                        <p class="price product-price">￥@product.Price <span class="price-tax">邮费: ￥@product.ExpressFee</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="viewmore">
                        <div class="btn"><a href="/Product/List">查看所有产品</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cms_banner">
    <div class="row">
        <div class="col-md-4 ">
            <div class="cms-block1">
                <h4>关于快递</h4>
                <p style="font-size:12px;text-align:left;align-content:flex-start;">默认EMS,其他快递请联系客服</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="cms-block3">
                <h4>服务热线</h4>
                <p style="text-align:left;">Tel:15165151559</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="cms-block2">
                <h4>联系我们</h4>
                <p>
                    <div class="row">
                        <div class="col-xs-4" style="max-width:60px;"><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E6%9D%8E%E6%A3%AE0324&siteid=cntaobao&status=1&charset=utf-8"><img src="~/images/alibabachat.png" /></a></div>
                        <div class="col-xs-4" style="max-width:60px;"><a target="_blank" href="tencent://message/?uin =79505393&Site =香草物语&Menu =yes"><img src="~/images/qqchat.png" /></a></div>
                        <div class="col-xs-4" style="max-width:60px;"><a target="_blank" href="tel://15165151659&Site =香草物语&Menu =yes"><img src="~/images/phonechat.png" /></a></div>
                    </div>

                </p>
            </div>
        </div>
    </div>
</div>
<div class="side-bar">
    <a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=@ConfigManager.GetConfig("QQ")&amp;Site=香草物语&Menu=yes" class="icon-qq">QQ在线咨询</a>
    <a href="" class="icon-chat">微信<div class="chat-tips"><i></i><img style="width:138px;height:138px;" src="~/images/weixin.jpg" alt="扫码加微信"></div>微信咨询</a>
    <a target="_blank" href="@ConfigManager.GetConfig("weibo")" class="icon-blog">微博</a>
    <a href="@ConfigManager.GetConfig("Email")" class="icon-mail">邮箱</a>
</div>
<div class="row">
    <h3 class="productblock-title">随便看看</h3>
    <div class="scroller demo1">
        <div class="inside">
            @{
                string randomProductImg = "";
            }

            @foreach (Product product in randomProducts)
            {
                randomProductImg += "<a href='/Product/ViewProduct/" + product.ID + "'><img style='width:auto;height:auto;max-width:100%;max-height:100%' src='/UploadImage/" + product.Picture + "' alt=''/></a>";
            }
            @if (randomProducts.Count < 15)
            {
                for (int i = 1; i < 15 - randomProducts.Count; i++)
                {
                    randomProductImg += "<a href='#'><img style='width:auto;height:auto;max-width:100%;max-height:100%' src='/UploadImage/Random/img" + i+ ".jpg '" + " alt=''/></a>";
                }
            }
            @Html.Raw(randomProductImg)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            //淘宝购买
            $("button[name='btntaobao']").click(function () {
                window.location.href = $(this)[0].id;
            });
            //微店购买
            $("button[name='btnweidian']").click(function () {
                window.location.href = $(this)[0].id;
            });
            if ($.cookie('isAdClose') == 'true') {
                setTimeout(function () { $("#toubiao").hide('slow') }, 5000);
            }
        });
    </script>
    <script type="application/javascript" src="~/js/jquery.mgang.small2big.js"></script>
    <script src="~/lib/scroller/js/jquery.easing.js" type="text/javascript"></script>
    <script src="~/lib/scroller/js/scroller.js" type="text/javascript"></script>
    <script src="~/lib/scroller/js/init.js" type="text/javascript"></script>
}