@model IEnumerable<xiangcaowuyu.net.Models.Entity.Article>
@using xiangcaowuyu.net.Models.Entity;
@{
    ViewData["Title"] = "文章";
    List<Article> list = Model as List<Article>;
}
@section Styles{
    <link rel="stylesheet" href="~/css/Context.css" />
}
<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        @foreach (Article article in Model)
        {
            Random random = new Random();
            string imageIndex = string.Format("/UploadImage/Random/img{0}.jpg", random.Next(15));
            @if (!string.IsNullOrEmpty(article.Picture))
            {
                imageIndex = string.Format("/UploadImage/{0}",@article.Picture);
            }
            <div id="post_list_box" class="border_gray">
                <article id="post-1395" class="archive-list">
                    <figure class="thumbnail box-hide box-show">
                        <a asp-controller="article" asp-action="Details" asp-route-id="@article.ID">
                            <img src="@imageIndex" alt="@article.Title">
                        </a>
                    </figure>
                    <header class="entry-header">
                        <h2 class="entry-title" style="margin-top:5px;margin-bottom:5px;">
                            <a asp-controller="article" asp-action="Details" asp-route-id="@article.ID">@article.Title</a>
                        </h2>
                    </header>
                    <div class="entry-content">
                        <span class="entry-meta" style="margin-top:5px;">
                            <span class="post_cat">
                                <a href="@article.TaoBaoUrl" class="btn btn-success">淘宝购买</a>
                            </span>
                            <span class="post_spliter">•</span>
                            <a href="@article.WeiDianUrl" class="date btn btn-primary">微店购买</a>
                        </span>
                        <div class="archive-content">
                            @article.Context
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
            </div>
        }
        <div class="clear"></div>
    </main>
</div>
