@using xiangcaowuyu.net.Public;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (ViewData["Title"] == null || ViewData["Title"].ToString() == "")
        {
            @ConfigManager.GetConfig("SysName");
        }
        else
        {
            @string.Format("{0} - {1}", ViewData["Title"], ConfigManager.GetConfig("SysName"));
        }
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.css" />
</head>
<body style="background-image:url(/images/background.jpg);background-repeat:round;">
    <div class="container">
        <div class="header-inner">
            <div class="col-sm-3 col-xs-3 header-left">
                <div id="logo">
                    <a href="/Home/Index"><img src="~/images/logo.png" title="E-Commerce" alt="E-Commerce" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-9 header-right">
                <nav id="menu" class="navbar" style="margin-bottom:0px;">
                    <div class="nav-inner">
                        <div class="navbar-header">
                            <span id="category" class="visible-xs">Categories</span>
                            <button type="button" class="btn btn-navbar navbar-toggle"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="navbar-collapse pull-left">
                            <ul class="main-navigation">
                                @{
                                    string MenuString = "";
                                    var listMenu = ViewData["Menus"] as List<Menu>;
                                }
                                @foreach (var item in ViewData["Menus"] as List<Menu>)
                                {
                                    MenuString += "<li><a href='/" + item.Controller + "/" + item.Action + "'>" + item.Name + "</a></li>";
                                }
                                @Html.Raw(@MenuString)
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <p>&copy; 2017 - @ConfigManager.GetConfig("SysName")</p>
                <a id="scrollup" style="display: inline;">Scroll</a>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
