@using xiangcaowuyu.net.Public;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @if (ViewData["Title"] == null || ViewData["Title"].ToString() == "")
        {
            @ConfigManager.GetConfig("SysName");
        }
        else
        {
            @string.Format("{0} - {1}", ViewData["Title"], ConfigManager.GetConfig("SysName"));
        }
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/owl.transitions.css" />
</head>
<body style="background-image:url(/images/background.jpg);background-repeat:round;">
    <div class="container">
        <div class="header-inner">
            <div class="col-sm-3 col-xs-3 header-left">
                <div id="logo">
                    <a href="/Home/Index"><img src="~/images/logo.png" title="E-Commerce" alt="E-Commerce" class="img-responsive"></a>
                </div>
            </div>
            <div class="col-sm-9 col-xs-9 header-right">
                <nav id="menu" class="navbar" style="margin-bottom:0px;">
                    <div class="nav-inner">
                        <div class="navbar-collapse pull-left">
                            <ul class="main-navigation">
                                @{
                                    string MenuString = "";
                                    var listMenu = ViewData["Menus"] as List<Menu>;
                                }
                                @foreach (var item in ViewData["Menus"] as List<Menu>)
                                {
                                    MenuString += "<li><a href='/" + item.Controller + "/" + item.Action + "'>" + item.Name + "</a></li>";
                                }
                                @Html.Raw(@MenuString)
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container">
                <p>&copy; 2017 - @ConfigManager.GetConfig("SysName")</p>
                <a id="scrollup" style="display: inline;">Scroll</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/jstree.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
